cycler==0.10.0
decorator==4.2.1
matplotlib==2.1.2
networkx==2.1
nibabel==2.2.1
nilearn==0.4.0
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
SimpleITK==1.0.1
six==1.11.0
sklearn==0.0
