<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MRI Tumor Detection</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/brain_info.css')}}" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            
    
</head>

<body>
    
    <div id="main">

         <!-- Modal  -->
        <div id="my_modal" class="modal">
            <div class="modal-content">
            <h4>No slice selected</h4>
            <p>Please select a slice before moving to the next part</p>
            </div>
        </div>


        <a class="waves-effect waves-light btn-large blue darken-2 home" id="home">
            <i class="material-icons left">home</i>
            Home
        </a>
        <div id="container">
            <div id="chooseSliceDiv" class="mainDiv">
                <a class="waves-effect waves-light btn-large green darken-2 next">
                    <i class="material-icons right">arrow_downward</i>
                    Next: Apply Preprocessing and Denoising
                </a>
                 
                <h1>1. Choose a slice</h1>
                <!-- views-->
                <div class="row">
                    <div class="col s10 offset-s1">
                        <div class="row">

                            <!-- div for axial profile -->
                            <div class="col s4" id="axial">
                                <h3 style="text-align:center;">AXIAL</h3>
                                <canvas id="top_view"></canvas>
                                    <input type="range" class="slider" id="top_view_slider">
                                <div class="row">
                                    <div class="col s8">
                                        <button id="top_view_select" class="waves-effect waves-light btn col s12">select</button>
                                    </div>
                                    <div class="col s4">
                                        <input type="text" id='top_view_index'/>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- div for sagittal profile -->
                            <div class="col s4" id="saggital">
                                <h3 style="text-align:center;">SAGITTAL</h3>
                                <canvas id="side_view"></canvas>
                                <input type="range" class="slider" id="side_view_slider">
                                <div class="row">
                                    <div class="col s8">
                                        <button class="waves-effect waves-light btn col s12" id='side_view_select'>select</button>
                                    </div>
                                    <div class="col s4">
                                        <input type="text" id='side_view_index'/>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- div for coronoal profile -->
                            <div class="col s4" id="coronal">
                                <h3 style="text-align:center;">CORONAL</h3>
                                <canvas id="front_view"></canvas>
                                <input type="range" class="slider" id="front_view_slider">
                                <div class="row">
                                    <div class="col s8">
                                        <button class="waves-effect waves-light btn col s12" id='front_view_select'>select</button>
                                    </div>
                                    <div class="col s4">
                                        <input type="text" id='front_view_index'/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div id="applyFilerDiv" class="mainDiv">
                <h1>2. Preprocessing and Denoising</h1>
                
                <a class="waves-effect waves-light btn-large red darken-2 back">
                    <i class="material-icons right">arrow_upward</i>
                    Back: Choose a Slice
                </a>

                <a class="waves-effect waves-light btn-large green darken-2 next" id="watershed_button">
                    <i class="material-icons right">arrow_downward</i>
                    Next: Apply Segmentation
                </a>
                
                <div class="row" style="padding-top:5vh">
                    
                    <div class="col s6">
                        <div class="row">

                            <h4>Preprocessing</h4>
                            <div class="row">
                                <div class="col s6">
                                    <button class="waves-effect waves-light btn-large col s12" id='isolate_brain'>Isolate Brain</button>
                                    <p class='desc'>
                                        This takes the selected image and removes the black background. it makes it easier to see the brain and helps with the other processing functions.
                                    </p>
                                </div>
                                <div class="col s6">
                                    <button class="waves-effect waves-light btn-large col s12" id='histo_filter'>Histogram EQ</button>
                                    <p class='desc'> 
                                        This adjusts the image light intensity to enhance contrast. makes image processing easier by making the regions more discernible. this may increase intensity of irrelevant information in image.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Denoising</h4>
                            <div class="row">
                                <div class="col s6">
                                    <button class="waves-effect waves-light btn-large col s12 light-blue lighten-1" id='bilateral_filter'>Bilateral Filter</button>
                                    <p class='desc'>
                                        This replaces the light intensity values of the image with weighted averages using nearby pixels. this reduces the number of regions that will be detected in processing making tumor easier to detect. can potentially add extra information to image that was not there.
                                    </p>
                                </div>
                                <div class="col s6">
                                    <button class="waves-effect waves-light btn-large col s12 light-blue lighten-1" id='median_filter'>Median Filter</button>
                                    <p class='desc'>
                                        This replaces the light intensity values of the image with the median value using nearby pixels. this is done to remove noise while preserving edge details for the image.
                                    </p>
    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <h4 style="text-align:center">Output</h4>
                        <div class="row">
                            <!-- canvas goes here -->
                            <div class="col s8 offset-s2">
                                <canvas id='pre_process_out' style="width:auto;height:50vh;margin-left:auto;margin-right:auto;display:block;"></canvas>
                            </div>

                        </div>
                        <div class="row">
                            <h4>
                                Applied Filters
                                <button style="margin-left:10px;" class="waves-effect waves-light btn green darken-3" id='reset_filters'>RESET</button>
                            </h4>
                            <!-- applied filters goes here -->
                            <div id='filters_list'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="applySegmentationDiv" class="mainDiv">
                <h1>3. Watershed Segmentation</h1>
                
                <a class="waves-effect waves-light btn-large red darken-2 back">
                    <i class="material-icons right">arrow_upward</i>
                    Back: Preprocessing and Denoising
                </a>
                
                <a class="waves-effect waves-light btn-large red darken-2 top">
                    <i class="material-icons right">keyboard_arrow_up</i>
                    Top
                </a>

                <a class="waves-effect waves-light btn-large green darken-2 next" id="detect_tumor_button">
                    <i class="material-icons right">arrow_downward</i>
                    Next: Tumor Detection
                </a>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="row" style="padding-top:5vh">
                            <div class="col s4" style="padding-left:20px;padding-right:20px">
                                <canvas id='marker'></canvas>
                                <h4>Marker</h4>
                                <p>The central points of the regions of the brain. used as a start point in determining the seperate regions</p>
                            </div>

                            <div class="col s4" style="padding-left:20px;padding-right:20px">
                                <canvas id='gradient'></canvas>
                                <h4>Local Gradient</h4>
                                <p>The area in which the regions of the brain meet each other.</p>
                            </div>

                            <div class="col s4" style="padding-left:20px;padding-right:20px">
                                <canvas id='watershed'></canvas>
                                <h4>Segmented</h4>
                                <p>Brain seperated by different regions that were determined using the watershed method.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tumorDetection" class="mainDiv">
                <h1>4. Tumor Detection</h1>

                <a class="waves-effect waves-light btn-large red darken-2 back">
                    <i class="material-icons right">arrow_upward</i>
                    Back: Watershed Segmentation
                </a>
                <a class="waves-effect waves-light btn-large red darken-2 top">
                    <i class="material-icons right">keyboard_arrow_up</i>
                    Top
                </a>

                <div class="row" style="padding-top:10vh">
                    <div class="col s8 offset-s2">
                        <div class="row">
                            <div class="col s6">
                                <div style="text-align:center">
                                    Threshold
                                    <div class="input-field inline">
                                        <input  type="text" id="threshold">
                                        <label for="threshold">Value (0-255)</label>
                                        
                                    </div>
                                    <a class="waves-effect waves-light btn green darken-2" id="set_threshold">
                                        <i class="material-icons right">navigate_next</i>
                                        Set
                                    </a>
                                </div>
                                  
                                <div style="width:100%;height:50vh;position:relative">
                                    
                                    <canvas id="tumor_canvas_base" style="height:50vh; width:auto;position: absolute; left:0;right:0;margin:auto"></canvas>
                                    <canvas id="tumor_canvas_layer" style="height:50vh; width:auto;position: absolute; left:0;right:0;margin:auto"></canvas>
                                    <canvas id="final_canvas" style="display:none"></canvas>
                                </div>
                                <p style="text-align:center">
                                    <label>
                                    <input id="overlay_checkbox" type="checkbox" checked="true"/>
                                    <span style="font-weight:bold;color:black">Show Overlay</span>
                                    </label>
                                </p>
                                
                            </div>
                            <div class="col s6">
                                <h4>Summary</h4>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Filename</td>
                                            <td id="filename">NA</td>
                                        </tr>
                                        <tr>
                                            <td>Slice</td>
                                            <td id="slice_value">NA</td>
                                        </tr>
                                        <tr>
                                            <td>Index</td>
                                            <td id="index_value">NA</td>
                                        </tr>
                                        <tr>
                                            <td>Filters Applied</td>
                                            <td id="filters_summary">NA</td>
                                        </tr>
                                        <tr>
                                            <td>Intensity Threshold</td>
                                            <td id="intensity_value">NA</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Tumor Area</td>
                                            <td id="tumor_area">NA</td>
                                        </tr>
                                        <tr>
                                        
                                    </tbody>
                                </table>
                                <div style="padding-top:5vh">
                                    <a class="waves-effect waves-light btn-large green darken-2" id="save_image">
                                        <i class="material-icons right">file_download</i>
                                        Save Image
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/brain_info.js') }}"></script>
    <script>

        
        function main(){

            data = {{brain.data}};
            dim = {{brain.dim}};
            brain_model.init();
            brain_model.loadData(data);
            real_filename = "{{ brain.filename }}"
            initPreprocessingFields();
            initSegmentationFields();
            initTumorDetectionFields();
            
            showMainWindow()
        }
        
        main();

    </script>
</body>
</html>
