<!DOCTYPE html>
<html>
    <head>
        <title>MRI Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div id="display" class="row">
                <div id="img_display" class="container-fluid col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div id="dropdown">Thing</div>
                    
                    <div id="img">
                         <canvas id="canvas1"></canvas>
                    </div>

                    <div id="a">
                        <input type="range" class="slider" id="myRange">

                        <label id="sn">Slice Number: 
                            <input type="number" name="slice_num" placeholder="Slice Number" class="input" id="num" min="0"><br>
                        </label>
                    </div>
                </div>


                <div id="options" class="container-fluid col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="row">
                        <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 row">Views</label>
                        
                        <div class="btn-group col-xl-12 col-lg-12 col-md-12 col-sm-12 row" role="group">
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Axial</button>    
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Sagittal</button>
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Coronal</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 container-fluid">Pre-Processing</label>
                        
                        <div class="btn-group col-xl-12 col-lg-12 col-md-12 col-sm-12 row" role="group">
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Skull Stripping</button>    
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Isolate Brain</button>
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Bilateral Filter</button>
                        </div>
                        
                        <div class="btn-group col-xl-12 col-lg-12 col-md-12 col-sm-12 row" role="group">
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Bilateral Filter</button>    
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Histogram EQ</button>
                            <button type="button" class="col-xl-4 col-lg-4 col-md-4 btn btn-light">Reset</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12">Segmentation</label>
                        
                        <button class="btn btn-light" role="group">Apply Watershed</button>
                    </div>
                    
                    <div id="detect">
                        <button class="btn btn-light">Detect Tumor</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var data = {{ brain.data }};
            var dim = {{ brain.dim }};
            
            var canvas = document.getElementById("canvas1");
            var slider = document.getElementById('myRange');
            var numInput = document.getElementById("num");

            var ctx = canvas.getContext('2d');
            var slice = data[70];

            var makeCanvas = function(array) {
                canvas.width = array.length;
                canvas.height = array[0].length;
            }

            var drawImg = function(array) {
                for (i=0; i < array.length; i++) {
                    for(j=0; j < array[i].length; j++) {
                        var color = array[i][j];
                        ctx.fillStyle = "rgb("+color+","+color+","+color+")";
                        ctx.fillRect(j, i, 1, 1);
                    }
                }
            }

            var makeSlider = function(max) {
                slider = document.getElementById('myRange');
                slider.max = max;
                numInput.value = slider.value;
            }

            var changeTop = function() {
                alert("Hello");
            }

            var changeFront = function() {
                alert("Hello");
            }

            var changeSide = function() {
                alert("Hello");
            }
            
            var bilateral_filter = function() {
                alert("Hello");
            }
            
            var normalize = function() {
                alert("Hello");
            }
            
            var watershed = function() {
                alert("Hello");
            }
            
            var median = function() {
                alert("Hello");
            }

            slider.oninput = function() {
                drawImg(data[this.value]);
                numInput.value = this.value;
            }
            
            numInput.oninput = function() {
                drawImg(data[this.value]);
                slider.value = this.value;
            }

            makeSlider(dim[0]);
            makeCanvas(slice);
            drawImg(slice);
        </script>
    </body>
</html>