<!DOCTYPE html>
<html>
    <head>
        <title>MRI Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    
    <body>
        <div id="display">
            <form id='upload' enctype="multipart/form-data" action="http://localhost:5000/process_mri" method="POST">
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Choose File</div>
                        <div class="file-select-name" id="noFile">No file chosen...</div> 
                        <input type="file" accept=".mha" name="chooseFile" id="chooseFile">
                    </div>
                </div>
                <input id="submit" type="submit" value="Load">
            </form>
        </div>
           
        <script>
            $('#chooseFile').bind('change', function () {
                var filename = $("#chooseFile").val();
                if (/^\s*$/.test(filename)) {
                    $(".file-upload").removeClass('active');
                    $("#noFile").text("No file chosen..."); 
                }
                else {
                    $(".file-upload").addClass('active');
                    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
                }
            });
        </script>
    </body>
</html>
