body {
    position: relative;
    margin: 0;
    justify-content: center;
    align-content: center;
}

#display {
    width: 100vw;
    height: 100vh;
    background-color: #555;
}

#img_display {
    width: 100%;
    background-color: #555;
    text-align: center;
}

#img {
    height: 50vh;
    width: 50vh;
    display: inline-block;
    margin-top: 40px;
    background-image: url("../../brain_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#canvas1 {
    height: 100%;
    width: 100%;
}

#a {
    padding-top: 50px;
}

.slider {
    -webkit-appearance: none !important;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
    height: 15px !important;
    border-radius: 5px !important;
    background: #aaa !important;
    outline: none !important;
    -webkit-transition: .2s !important;
    transition: opacity .2s !important;
}

.slider:hover {
    background: #ccc !important;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #222 !important;
    cursor: pointer !important;
}

.slider::-moz-range-thumb {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #222 !important;
    cursor: pointer !important;
}

#sn {
    font-size: 22px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin-top: 25px;
    line-height: 22px;
    color: #222;
}

.dropdown-menu {
    background: #EEE !important;
}

.dropdown-toggle {
    cursor: pointer;
}

#fdropdown {
    padding-left: 20px;
}

.container {
    position: relative;
    padding-left: 20px !important;
    width: 200px !important;
    cursor: pointer;
    font-family: sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: #222;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.container:hover {
    color: #AAA;
    text-decoration: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #aaa;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #333333;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.input[type=number] {
    border-width: 0;
    height: 22px;
    color: #444;
    font-family: sans-serif;
    font-style: bold;
    background-color: #aaa;
    text-align: center;
    width: 25%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input:hover {
    background-color: #CCC;
}
