body {
    position: relative;
    margin: 0;
    justify-content: center;
    align-content: center;
    min-width: 700px;
   overflow: hidden;
}

#desc {
    overflow: hidden;
}

.a {
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#move {
    position: absolute;
    transition-duration: 1s;
}

#to_preprocess {
    position: absolute;
    top: 90vh;
    right: 0;
    z-index: 1;
}

#to_view {
    position: absolute;
    top: 105vh;
    right: 0;
    z-index: 1;}

#to_seg {
    position: absolute;
    top: 190vh;
    right: 0;
    z-index: 1;
}

#to_pre {
    position: absolute;
    top: 205vh;
    right: 0;
    z-index: 1;
}

.holder1 {
    height: 100vh;
}

#display {
    height: 100%;
    background-color: #555;
}

#display1 {
    height: 100%;
    background-color: #555;
}

#pre {
    height: 100%;
    background-color: #555;
}

#seg {
    height: 100%;
    background-color: #555;
}

#upload {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 30%;
    height: 50%;
}

.file-upload {
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #333;
    color: #AAA;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #333;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #222;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #222;
    color: #CCC;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65; 
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

#submit {
    position: relative;
    margin-top: 30%;
    display: block;
    font-family: sans-serif;
    color: #AAA;
    background-color: #333;
    border-width: 0;
    padding: 2% 20%;
    margin-left: auto;
    margin-right: auto;
}

#submit:hover {
    background-color: #222;
    color: #CCC;
}

.container-fluid .row {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.btn-group {
    text-align: center;
    align-content: center;
    position: relative;
}

#filler {
    height: 100vh;
    background-color: #555;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#img_display {
    background-color: #555;
    text-align: center;
}

.img {
    height: 50vh;
    width: 50vh;
    display: inline-block;
    margin-top: 40px;
}

.canvas1 {
    height: 100%;
    width: 100%;
}

#a {
    padding-top: 50px;
}

.slider {
    -webkit-appearance: none !important;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
    height: 15px !important;
    border-radius: 5px !important;
    background: #aaa !important;
    outline: none !important;
    -webkit-transition: .2s !important;
    transition: opacity .2s !important;
}

.slider:hover {
    background: #ccc !important;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #222 !important;
    cursor: pointer !important;
}

.slider::-moz-range-thumb {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #222 !important;
    cursor: pointer !important;
}

#sn {
    font-size: 22px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin-top: 25px;
    line-height: 22px;
    color: #222;
}

.prep {}

.a label {
    font-size: 45px;
    text-align: center;
    color: #CCC;
}

.row {
    text-align: center;
}

.container {
    position: relative;
    padding-left: 20px !important;
    width: 200px !important;
    cursor: pointer;
    font-family: sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: #222;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.container:hover {
    color: #AAA;
    text-decoration: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #aaa;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #333333;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.input[type=number] {
    border-width: 0;
    height: 22px;
    color: #444;
    font-family: sans-serif;
    font-style: bold;
    background-color: #aaa;
    text-align: center;
    width: 25%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input:hover {
    background-color: #CCC;
}

.h {
    height: auto;
}

#watershed_button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-light:hover {
    background-color: #BBB;
}
