body {
    margin: 0;
    min-height: 600px;
    min-width: 600px;
}

/*Small devices*/
@media (min-width: 576px) {
    #title {
        margin-top: 50px;
        font-size: 25px;
    }
    
    #display {
        padding-right: 100px;
        padding-left: 100px;
    }
    
    #description {
        font-size: 18px;
    }
}

/*Medium devices*/
@media (min-width: 768px) {
    #title {
        margin-top: 70px;
        font-size: 40px;
    }
    
    #display {
        padding-right: 100px;
        padding-left: 100px;
    }
    
    #description {
        font-size: 20px;
    }
}

/*Large devices*/
@media (min-width: 992px) {
    #title {
        margin-top: 100px;
        font-size: 45px;
    }
    
    #display {
        padding-right: 150px;
        padding-left: 150px;
    }
    
    #description {
        font-size: 22px;
    }
}

@media (min-width: 1142px) {
    #title {
        margin-top: 130px;
        font-size: 50px;
    }
    
    #display {
        padding-right: 180px;
        padding-left: 180px;
    }
    
    #description {
        font-size: 25px;
    }
}

#title {
    color: #CCC;
}

#description {
    color: #AAA;
}

#display {
    background-color: #555;
}

#upload {
    padding: 30% 20px;
    height: 100vh;
}

.file-upload {
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #333;
    color: #AAA;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #333;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #222;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #222;
    color: #CCC;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65; 
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

#submit {
    position: relative;
    margin-top: 30%;
    display: block;
    font-family: sans-serif;
    color: #AAA;
    background-color: #333;
    border-width: 0;
    padding: 2% 20%;
    margin-left: auto;
    margin-right: auto;
}

#submit:hover {
    background-color: #222;
    color: #CCC;
}
